<div class="heading-block">
	<table>
		<tr>
			<td valign="middle" class="small-width"><a href="#">
				<img src="resources/GET-logo-small.png" border="0" alt="GET logo"/>
			</a></td>
			<td valign="middle" class="small-width"><a href="#">
				<div class="main-title">GET</div>
			</a></td>
			<td valign="middle" class="small-width left-bracket"><a href="#">
				<div class="sub-title">Generalised<br/>Epithelial<br/>Transport</div>
			</a></td>
			<td valign="middle" class="large-width">
				<a href="http://virtualrat.org"><img src="resources/VPR_Logo_4-small.jpeg" border="0" 
				alt="VPR logo"/></a>
			</td>
		</tr>
	</table>
</div>